<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
<%= link_to "Add User", new_panel_path(@users), class: "btn btn-primary" %>
<table class = "table table-bordered table-striped">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Destroy', panel_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
        <td><%= collection_select(:user, :id, @roles, :id, :name) %></td>
        <td><%= link_to "Change Role", new_panel_path(@users), class: "btn btn-primary" %></td>
      </tr> 
    <% end %>
  </tbody>
</table>


