<p>
  <strong>Name:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.body %>
</p>

<table class = "table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
    </tr>
  </thead>

  <tbody>
    <% @post.resumes.each do |resume| %>
      <tr>
        <td><%= resume.name %></td>
        <td><%= link_to "Download Resume", resume.attachment_url %></td>
        <td><%= button_to "Delete",post_resume_path(@post, resume),  method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.name}?" %></td>
      </tr> 
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %> |
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>



